
@model TestSite.ViewModels.AppsViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






    @Html.ActionLink("New App", "New", "Apps", null, new { @class = "btn btn-primary", @style = "vertical-align:middle" })





@if (Model.Apps.Count == 0)
{
    <p> No Products</p>
}
else
{


    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Products</th>
                <th>Product's ID</th>
                <th>Product's Name</th>



            </tr>


        </thead>


        <tbody>


            @foreach (var apps in Model.Apps)
            {
                <tr>
                    <td>@Html.ActionLink(apps.Name, "Edit", "Apps", new { id = apps.Id }, null)</td>
                    <td>@apps.AppType.Id</td>>
                    <td>@apps.AppType.Name</td>>

                </tr>

            }


        </tbody>

    </table>

}

